@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100&display=swap');

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/
/*
 Problemen:
 positionering algemeen / class top


 */

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif, bold;
}

header {
    border-style: dotted;
    border-color: yellow;
    font-family: 'Merriweather', serif;
    background: rgb(73,100,232);
    background: linear-gradient(90deg, rgba(73,100,232,1) 0%, rgba(75,73,232,1) 41%, rgba(61,34,205,1) 100%);
}

nav {
    font-family: 'Merriweather', serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    border-style: dotted;
    border-color: yellow;
}

nav ul {
    color: white;
    list-style: none;
    display: flex;
    border-style: dotted;
    border-color: yellow;
}

nav ul li {

    display: flex;
    padding-right: 35px;
    border-style: dotted;
    border-color: yellow;
}

div.inner {
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-size: 25px;
    border-style: dotted;
    border-color: yellow;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dotted;
    border-color: yellow;
    width: 750px;
    flex-shrink: 1;
    flex-grow: 0;
}


.inner h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: dotted;
    border-color: yellow;
}

.inner h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dotted;
    border-color: yellow;
    padding: 50px;
}
.button {
    background-color: #ED4385;
    color: white;
    border-style: none;
    border-radius: 60px;
    cursor: pointer;
    margin: 15px;
    padding: 25px;
    text-align: center;
    border-style: dotted;
    border-color: yellow;
}

.page2 {
    color: #5722CD;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: dotted;
    border-color: yellow;
    width: 750px;
    flex-shrink: 1;
    flex-grow: 0;
}

.hello {
    color: #5722CD;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: dotted;
    border-color: yellow;
    width: 750px;
    flex-shrink: 1;
    flex-grow: 0;
}
