@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100&display=swap');

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/
/*
 Problemen:
 positionering algemeen / class top


 */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif, bold;
}

header {
    font-family: 'Merriweather', serif;
    background: rgb(73,100,232);
    background: linear-gradient(90deg, rgba(73,100,232,1) 0%, rgba(75,73,232,1) 41%, rgba(61,34,205,1) 100%);
    position: relative;
}

h1, h2, h3, h4 ,h5, h6 {
    font-family: 'Merriweather', serif;
    margin-bottom: 25px;
}

nav {
    font-family: 'Merriweather', serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    background: rgb(73,100,232);
    background: linear-gradient(90deg, rgba(73,100,232,1) 0%, rgba(75,73,232,1) 41%, rgba(61,34,205,1) 100%);
}

nav ul {
    color: white;
    list-style: none;
    display: flex;
}

nav ul li {

    display: flex;
    padding-right: 35px;
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inner-container {
    color: white;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    flex-basis: 750px;
    flex-shrink: 1;
    flex-grow: 0;
}

.inner-container2 {
    color: white;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    flex-basis: 1200px;
    flex-shrink: 1;
    flex-grow: 0;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.button {
    background-color: #ED4385;
    color: white;
    border-style: none;
    border-radius: 60px;
    cursor: pointer;
    margin-bottom: 100px;
    padding: 25px;
    text-align: center;
    filter: drop-shadow(6px 5px 5px black);
    text-transform: uppercase;
}

.squiggle {
    position: absolute;
    bottom: 0;
}

.Hello {
    color: #5722CD;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.question {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 25px;
}

.work {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.worktxt {
    margin: 25px;
}

.work img.main-images {
    width: 50%;
}

